* {
    box-sizing: border-box;
    font-family: Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 100%;
}

a {
    text-decoration: none;
}
a:hover {
    background: linear-gradient(90deg,#1e212400 0%,#1e2124 1rem,#1e2124 100%);
}

body {
    background: #131416;
    color: #cfd0d0;
    margin: 0;
    min-height: 100%;
}

body .main {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-weight: normal;
    vertical-align: middle;
}

header nav {
    display: flex;
}

header nav.settings a {
    padding: 0 1em;
    margin-top: auto;
    margin-bottom: auto;
}

aside {
    width: calc(50% - 26em);
    border-right: 1px solid #303335;
    display: none;
    flex-shrink: 0;
    justify-content: flex-end;
    min-width: 15em;
    background: #1a1c1e;
    padding-left: 1em;
}

aside.open {
    display: flex;
}

aside div {
    width: 15em;
    position: sticky;
    top: 0;
    height: 100vh;
}

aside h1, aside h1 a {
    font-size: 1.5rem;
    color: #cfd0d0;
}

aside input {
    background: transparent;
    color: #cfd0d0;
    border: none;
    border-bottom: 1px solid #303335;
    border-top: 1px solid #303335;
    padding: 0.5rem 0 0.5rem 1.5rem;
    width: 100%;
}

aside input::before {
}

aside input:focus {
    outline: none;
}

aside nav {
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
}

aside nav h2 {
    font-size: 15px;
}

aside nav a {
    padding: 0.5rem 1rem;
}

aside nav h2 a {
    padding: 0.5rem 0;
}

section {
    width: 100%;
    font-size: 110%;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 1.5;
    overflow-wrap: break-word;
}

a, h2 > a {
    color: #3d94ff;
    cursor: pointer;
    outline: none;
}

a[target=_blank]:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' stroke='white' viewBox='0 0 16 16'%3E%3Cpath d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");/*url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewbox='0 0 12.2 12.2' width='14' height='14' stroke='white' %3E%3Cpath fill='none' stroke='white' d='M5.7 0v1.5h4L4.5 6.7l1 1.1 5.3-5.2v3.9h1.4V0z'/%3E%3Cpath fill='none' stroke='white' d='M3.4 6.7l3-2.9H1.5v7h7V5.9l-3 2.9z'/%3E%3Cpath fill='none' stroke='white' d='M8.5 5.9v4.9h-7v-7h4.9l1.5-1.6H0v10h10V4.4z'/%3E%3C/svg%3E");*/
}

img.float-right {
    float: right;
    margin-left: 8px;
    margin-bottom: 4px;
    font-size: 36px;
    margin-top: 1em;
    width: 10%;
}

img.heading-icon {
    position: relative;
    left: -20px;
    top: -4px;
    float: left;
    width: 55px;
}

.heading ul li {
    list-style-type: circle;
}

@media only screen and (min-width: 670px) {
    section {
        width: 46em;
    }
    
    header {
        display: block;
    }
    nav.settings {
        display: flex;
        float: right;
        gap: .5rem;
        margin-bottom: 1rem;
        margin-left: 1rem;
        margin-top: 1.5rem;
    }

    header h1, header .nav-button {
        display: none;
    }
    aside {
        display: flex;
    }
}

img {
    width: 50%
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 700;
}

h2, section h1 {
    font-size: 36px;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3, section h2 {
    font-size: 1.25em;
    margin-top: 0.5em;
}
h4, section h3 { margin-top: 0.5em; }

h3, h4, h5, h6 {
    margin-bottom: 0;
}

.nav-button {
    float: right;
    padding: 8px 16px;
    cursor: pointer;
    display: block;
    color: #9ca0a5;
    border-radius: 4px;
    font-weight: bold;
    vertical-align: middle;
}
.nav-button .icon {
    padding-left: 2px;
    vertical-align: top;    
}
.nav-button:hover {
    background-color: #000;
    color: #fff;
}

footer {
    padding: 50px;
    background: #222;
    color: #fff;
}

figure img {
    width: 100%;
}

p mjx-container {
    overflow-x: auto !important;
}

.katex-display {
    overflow: auto hidden;
}

a.anchor {
    visibility: hidden;
}

*:hover > a.anchor {
    visibility: visible;
}
