{%- macro icon(name, path, width=24, height=24, color="currentColor") -%}
  <svg xmlns="http://www.w3.org/2000/svg"
       width="{{ width }}"
       height="{{ height }}"
       viewBox="0 0 24 24"
       fill="none" stroke="currentColor"
       stroke-width="2"
       stroke-linecap="round"
       stroke-linejoin="round"
       class="icon"
       >
    <title>{{ name }} icon</title>
    <g fill="{{ color }}">
      {{ path | safe }}
    </g>
  </svg>
{%- endmacro -%}

{%- macro menu() -%}
  <line x1="3" y1="12" x2="21" y2="12"></line>
  <line x1="3" y1="6" x2="21" y2="6"></line>
  <line x1="3" y1="18" x2="21" y2="18"></line>
{%- endmacro -%}
