{%- import "macros/icon.html" as ico -%}
{%- import "macros/nav.html" as nav -%}
{%- set title = config.title -%}
{%- if config.extra.version -%}
{%- set title = title ~ " " ~ config.extra.version -%}
{%- set top_section = page | default(value=section) -%}
{%- if top_section.ancestors -%}
{%- set top_section = top_section.ancestors | first() -%}
{%- set top_section = get_section(path=top_section) -%}
{%- endif -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="{{ config.default_language }}">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ config.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
    <link rel="icon" href="{{ get_url(path='favicon.png') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js" integrity="sha384-7zkQWkzuo3B5mTepMUcHkMB5jZaolc2xDwL6VFqjFALcbeS9Ggm/Yr2r3Dy4lfFg" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js" integrity="sha384-43gviWU0YVjaDtb/GhzOouOXtZMP/7XUzwPTstBeZFe/+rCMvRwr4yROQP43s0Xk" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
  </head>
  <body>
    <header>
      <a
        id="nav-button"
        href="javascript:void(0);"
        class="nav-button"
        onclick="toggleNavMenu()"
        >
        {{ ico::icon(name="menu", path=ico::menu()) }}
      </a>
      <h1>{{ title }}</h1>
      <nav class="settings">
        {%- set node = page | default(value=section) -%}
        {%- for l in ["en", "de"] -%}
        {%- if l != lang -%}
        {%- set lang_path = node.relative_path | trim_end_matches(pat = ".md") | trim_end_matches(pat = "." ~ lang) -%}
        {%- if l == config.default_language -%}
        {%- set lang_path = lang_path ~ ".md"  -%}
        {%- else -%}
        {%- set lang_path = lang_path ~ "." ~ l ~ ".md"  -%}
        {%- endif -%}
        {%- if page -%}
        {%- set lang_node = get_page(path=lang_path) -%}
        {%- else -%}
        {%- set lang_node = get_section(path=lang_path) -%}
        {%- endif -%}
        <a href="{{ lang_node.permalink }}">{{ l | upper() }}</a>
        {%- endif -%}
        {%- endfor -%}
      </nav>
    </header>
    <div class="main">
      <aside id="left-panel">
        <div>
          <h1><a href="{{ top_section.permalink }}">{{ title }}</a></h1>
          {#
          <form method="get" action="search.html" role="search">
            <input placeholder="Search" name="q" aria-label="Search">
            <input type="hidden" name="check_keywords" value="yes">
            <input type="hidden" name="area" value="default">
          </form>
          #}
          <nav>
            {%- for p in top_section.subsections %}
            {%- set p = get_section(path=p) -%}
            {%- if p.content -%}
            <a
              href="{{ p.permalink }}"
              {{ nav::active_class(node=p) }}
              onclick="hideNavMenu()"
              >
              {{ p.extra.menu | default(value=p.title) }}
            </a>
            {%- else -%}
            <h2>{{ p.extra.menu | default(value=p.title) }}</h2>
            {%- endif -%}
            {%- for subpage in p.pages -%}
            <a href="{{ subpage.permalink }}">{{ subpage.title }}</a>
            {%- endfor -%}
            {%- endfor %}
            <h2><a href="{{ get_url(path='api/ebl/index.html') }}" onclick="hideNavMenu()" target="_blank">
              API {{ trans(key="reference", lang=lang) }}
            </a></h2>
          </nav>
        </div>
      </aside>

      <section>
        {% block content -%} {%- endblock %}
      </section>

    </div>

    <footer>
    </footer>

    <script>
      function toggleNavMenu() {
        var panel = document.getElementById("left-panel");
        if (panel.className === "open") {
          panel.className = "";
        } else {
          panel.className = "open";
        }
      }
      function hideNavMenu() {
        var panel = document.getElementById("left-panel");
        panel.className = "";
      }
      document.addEventListener("DOMContentLoaded", function () {
        renderMathInElement(document.body, {
          delimiters: [
            { left: "$$", right: "$$", display: true },
            { left: "\\(", right: "\\)", display: false },
            { left: "$", right: "$", display: false },
            { left: "\\[", right: "\\]", display: true },
          ],
        });
        });
    </script>

  </body>
</html>
