{%- extends "base.html" -%}

{%- block content -%}

<img class="float-right" alt="logo" src="{{ get_url(path='img/logo.svg') }}">
<h1>{{ section.title }}</h1>
{%- if section.extra.summary -%}
{{ section.extra.summary | safe }}
{%- endif -%}
{%- for page in section.subsections -%}
{%- set page = get_section(path=page) -%}
{%- set first_asset = page.assets | first -%}

<div class="heading">
  <img
    alt="{{ page.title}} icon"
    class="heading-icon"
    src="{{ get_url(path=first_asset) }}">
  <h1>{{ page.title }}</h1>
  <ul>
    {%- for subpage in page.pages -%}
    <li><h2><a href="{{ subpage.permalink }}">{{ subpage.title }}</a></h2></li>
    {%- endfor -%}
  </ul>
</div>
{%- endfor -%}

{{ section.content | safe }}
{%- endblock content -%}
