{%- set bibliography = load_data(path="/bibliography.bib", format="bibtex") -%}

<h2>{{ trans(key="bibliography", lang=lang) }}</h2>

<ul class="bibliograpy">
{%- for bib in bibliography.bibliographies-%}
<li>
  <a id="{{ bib.citation_key }}" href="#{{ bib.citation_key }}">[{{ bib.citation_key}}]</a> {{
  bib.tags.author }} <a href="{{ bib.tags.url }}"><cite>{{ bib.tags.title | trim_start_matches(pat = "{") |
  trim_end_matches(pat = "}") }}</cite></a>. {{ bib.tags.publisher }}, {{
  bib.tags.year }}
</li>
{%- endfor -%}
</ul>
